@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Meyer reset */

.App {
  text-align: center;
}

.Home {
  background-image: url(https://img.freepik.com/free-photo/top-view-background-beautiful-white-grey-brown-cream-blue-background_140725-72219.jpg?w=2000);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.header-h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 1000;
  font-size: 30px;
}

.textbox {
  height: 100px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 15px;
  border-radius: 5px;
}

.word-list {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 1000;
  font-size: 18px;
}

.words-div {
  padding: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 10px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(240, 248, 255, 0.26);
}
